DISCORD_TOKEN=your_bot_token
# opcjonalny stary klucz (fallback):
TOKEN=
DISCORD_CLIENT_ID=your_client_id
DISCORD_GUILD_ID=your_guild_id
DEV_ID=1418289596457812088
KONKURS_CHANNEL_ID=
TICKET_PANEL_CHANNEL_ID=
OPINION_PANEL_CHANNEL_ID=
OPINION_LOG_CHANNEL_ID=
PARTNER_PANEL_CHANNEL_ID=
PARTNER_ADMIN_CHANNEL_ID=
PARTNER_PUBLIC_CHANNEL_ID=
RULES_CHANNEL_ID=
VERIFIED_ROLE_ID=
